Django_VirtualEnv/*
# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
Django_VirtualEnv/Lib/site-packages/tensorflow/python/_pywrap_tensorflow_internal.pyd 
/testFiles
/django_theme/media/ogImg
/django_theme/media
/django_theme
/django_theme/app/__pycache__
