{% extends "registration/registration_base.html" %}
{% load static %}
{% block title %}MAI-CARE{% endblock %}

{% block content %}

<div class="limiter">
    <div class="container-login100">
        <div class="wrap-login100">
            <div class="login100-pic js-tilt" data-tilt>
            <img src="{% static "images/MIDRC-Logo-Vertical-Version.jpg" %}" alt="IMG">
            </div>

            <form class="login100-form validate-form" method="post" novalidate>
            {% csrf_token %}
            <span class="login100-form-title">
                Member Login
            </span>

            <div class="card mb-4">
                <div class="card-body">
                    <h2 class="card-title">Set new password</h2>
                    <form method="post" novalidate>
                        {% csrf_token %}
                        <div class="form-row" >
                            {{ form.password }}
                        </div>
                        <div class="form-row" >
                            {{ form.password2 }}
                        </div>
                        
                        <button type="submit" class="btn btn-primary">Change my password</button>
                    </form>

                </div>
            </div>
        </form>
        </div>
    </div>
  </div>

{% endblock %}