{% extends 'layouts/base.html' %}
{% block title %} Activation maps {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}
<!--<!DOCTYPE html>
<html lang="en"> -->
   {% load static %}

<head>
	<title>Multiselect 09</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<link href="https://fonts.googleapis.com/css?family=Lato:300,400,700&display=swap" rel="stylesheet">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
	<link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.4/css/select2.min.css" rel="stylesheet" />
	<link href="{% static 'css/style.css' %}" rel="stylesheet"> </head>

<body>
	<form method="POST" enctype="multipart/form-data" action=" "> {% csrf_token %}
		<section class="ftco-section">
			<div class="container">
				<div class="row justify-content-center", id = "1">
					<div class="col-md-6 text-center mb-5">
						<h2 class="heading-section">Choose the DL Layer to investigate</h2> </div>
				</div>

                <div class="row justify-content-center", id = "3">
					<div class="col-lg-5 d-flex justify-content-center align-items-center">
                        <select class="js-select2" multiple="multiple" onchange="dnLayers()" id="models" action="/">
                            <option value="ChestCR_model">ChestCR_model</option>
                            <option value="covid_kaggle_model">covid_kaggle_model</option>
                        </select>
					</div>
				</div>

                <div class="row justify-content-center", id = "2">
					<div class="col-lg-5 d-flex justify-content-center align-items-center">
						<select class="js-select2" multiple="multiple"  id="layers" action="/">
                        </select>
					</div>
				</div>

			</div>
			<div class="col-md-4 col sm-4">
				<label form="formFileabled" class="form-label">Upload your project files here:</label>
				<input name="filePath" class="form-control" type="file" id="formFileabled" abled /> </div>
			<input type="submit" value="Submit">
			<div class="col-md-4 col sm-4">
				<h2>Activation Map:</h2> <img src={{ActivationMapImgPath}} class="img-fluid" alt='' style="width: 400px;"> {{activationMapImgPath}} </div>
		</section>


        <script defer>
            function dnLayers() {
                let mdls = document.getElementById("models");
                let modelName = mdls.options[mdls.selectedIndex].value;
                //debugger;
                let layers = JSON.parse("{{ DNN_layers|escapejs }}");
                if(modelName === "ChestCR_model"){
                    let ChestCR_layers = layers['ChestCR_model'];
                    console.log("length of chest layers:",ChestCR_layers.length);
                    for(let i = 0; i < ChestCR_layers.length; i++){
						var option_value = ChestCR_layers[i];
						var el = document.createElement("option");
						el.textContent = option_value;
						el.value = option_value;
						console.log("layer name:", option_value);
						document.getElementById('layers').appendChild(el);
                    }
                } else if(modelName === "covid_kaggle_model"){
                    let covid_kaggle_layers = layers['covid_kaggle_model'];
                    console.log("length of covid layers:",covid_kaggle_layers.length);
					for(let i = 0; i < covid_kaggle_layers.length; i++){
						var option_value = covid_kaggle_layers[i];
						var el = document.createElement("option");
						el.textContent = option_value;
						el.value = option_value;
						console.log("layer name:", option_value);
						document.getElementById('layers').appendChild(el);
                    }
                }
            }

        </script>
		<script src="{% static 'js/jquery.min_HM.js' %}"></script>
		<script src="{% static 'js/popper_HM.js' %}"></script>
		<script src="{% static 'js/bootstrap.min.js' %}"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.4/js/select2.min.js"></script>
		<script src="{% static 'js/main_HM.js' %}"></script>
	</form>
</body>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}


{% endblock javascripts %}