<!-- {% extends 'layouts/base.html' %} -->
{% block title %} Training {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}
<!--<!DOCTYPE html>
<html lang="en"> -->
   {% load static %}
    <style>
    .container d-flex justify-content-center jumbotron text-center col-md-7 progress{height:2rem;}
    </style>
    <head>
        <meta charset="UTF-8">
        <title>Title</title>
        <link rel="stylesheet"
        href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
        <script>
            function update() {
                window.location = window.location.href;
            }
            setInterval('update()', 10000);
        </script>
    </head>
    <body style>
        <div class="container d-flex justify-content-center">
            <div class="jumbotron text-center col-md-7" style="top: 20px;">
                <table>
                    <tbody>
                    {% for job_name, state, progress, task_id in info %}
                        <tr>
                            <td>{{ job_name }}</td>
                            <td style="width:100%; height: 2rem">
                                <div class="progress" >
                                    <div class="progress-bar" role="progressbar" style="width: {{ progress }}%"
                                         aria-valuenow="{{ progress }}" aria-valuemin="0" aria-valuemax="100">{{ state }}
                                    </div>
                                </div>
                            </td>
                            <td><a href="{% url 'delete_job' task_id=task_id %}">
                                <button class="btn-warning">Delete</button></a>
                            </td>
                            <td><a href="{% url 'cancel_job' task_id=task_id %}">
                                <button class="btn-danger">Cancel</button></a>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            <!-- <a href="{% url 'run' %}"><button class="btn-dark">Back</button></a> -->
            </div>
        </div>
    </body>
<!-- </html> -->

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}


{% endblock javascripts %}