{% extends 'layouts/base.html' %}
{% load static %}
{% block title %} Testing {% endblock %}
<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}
<link rel="stylesheet" href ="/static/css/form_upload.css" >
<link rel="stylesheet" href ="{% static 'css/file_upload.css' %}" >
{% endblock stylesheets %}
{% block content %}
<!--<!DOCTYPE html>
   <html lang="en"> -->
   <form method="POST" enctype="multipart/form-data" action="">
      {% csrf_token %}
      <div style="margin-top:200px;">
         <div class="frame" style="position: relative;">
            <div class="center">
               <div class="title">
                  <h1>Upload image</h1>
               </div>
               <p id="id-fileName" style="color:black"></p>
               <div class="dropzone">
                  <img src="http://100dayscss.com/codepen/upload.svg" class="upload-icon" />
                  <input id="id-filePath" name="filePath" type="file" class="upload-input" />
                  <!--
                     <label form="formFileabled" class="form-label"></label>
                     <input name ="filePath" class="form-control" type="file" id="formFileabled" abled /> -->
               </div>
               <button type="submit" class="btn" name="uploadbutton">Predict</button>
            </div>
         </div>
      </div>

      <div class="justify-content-center mt-lg row">
         <!--<h2>Classification result: {{predictedLabel}}</h2> -->
         <div class="row flex-column">
            <div>
               <h2 class="font-italic font-weight-bold">{{ message }}</h2>
            </div>

            <div>
               <h2 class="font-italic font-weight-bold">{{ message1 }}</h2>
            </div>
           <div>
               <h2>
                  <img id="myimage" src={{ogImg}} class="img-fluid" alt='' style="width: 400px">
                 <!-- <a href="{% url 'activation_maps' %}">
                     <button class="button" type="button" name="train" value="Train"
                        style="height:auto">{{actMes}}</button>
                  </a>
                  <a href="{% url 'heat_maps' %}">
                     <button class="button" type="button" name="train" value="Train"
                        style="height:auto">{{heatMes}}</button>
                  </a>
                   <a href="{% url 'heat_maps' file=0 %}">{{heatMes}}</a> -->
               </h2>
            </div>
         </div>

      </div>
      <!-- original pen: https://codepen.io/roydigerhund/pen/ZQdbeN  -->
      <!-- NO JS ADDED YET -->
   </form>

   <!--<div class="multi-button">
      <a href="{% url 'plot_acc' %}">
         <button class="btn-primary">ACCplot</button>
         <img src={{filePathName}} class="img-fluid" alt='' style="width: 400px;">
          <button class="btn-secondary">Copy</button>
         <button class="btn-secondary-custom">Paste</button>-->
      </a>
   </div> -->

   <div>
      <button type="submit" class="btn-secondary"> download </button>
   </div>

{% endblock content %}
<!-- Specific Page JS goes HERE  -->
{% block javascripts %}
<script>
   $("#id-filePath").on("change", function () {
      let file = $(this)[0].files[0];
      if(file){
         $("#id-fileName").text(file.name)
      }
});
</script>

{% endblock javascripts %}