{% extends 'layouts/base.html' %}
{% block title %} Transfer Learning {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}
<!--<!DOCTYPE html>
<html lang="en"> -->


   {% load static %}
   <head>
      <!-- Required meta tags-->
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
      <!-- Title Page-->
      <title>training</title>
      <!-- Icons font CSS-->
      <link rel="stylesheet" href="{% static 'css/material-design-iconic-font.min.css' %}" media="all">
      <link rel="stylesheet" href="{% static 'css/font-awesome.min.css' %}" media="all">
      <!-- Font special for pages-->
      <link href="https://fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
      <!-- Vendor CSS-->
      <link rel="stylesheet" href="{% static 'css/select2.min_training.css' %}" media="all">
      <link rel="stylesheet" href="{% static 'css/daterangepicker.css' %}" media="all">
      <!-- Main CSS-->
      <link rel="stylesheet" href="{% static 'css/main_training.css' %}" media="all">
      <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />

   </head>
   <script>
   function field(box, field)
   {
      // if (document.getElementById(box).style.display=="none") document.getElementById(box).style.display="block";
      // else document.getElementById(box).style.display="none";
      if (document.getElementById(box).checked) document.getElementById(field).style.display="block";
      else document.getElementById(field).style.display="none";
   }
   </script>
   <body>

         <div class="wrapper wrapper--w780">
            <div class="card card-3">
               <div class="card-heading">
               </div>
               <div class="card-body">
                  <h2 class="title">DNN Model Training</h2>
                  <div class="infoIcon">
          <a href="#" class="a"><img src="https://cdn.onlinewebfonts.com/svg/img_151567.png" alt="info icon" /></a>
          <span class="extraInfo">Extra Info</span>
        </div>
                  <form method="POST">
                     {% csrf_token %}
                      <div class="input-group">
                        <div class="rs-select2 js-select-simple select--no-search">
                           <select name="vggVal" required>
                              <option value="">VGGNet</option>
                              <option>Transfer learning</option>
                              <option>Fine tuning</option>
                           </select>
                           <span class="material-symbols-outlined" data-toggle="tooltip" data-placement="top" title="VGG" style="cursor:pointer;color:blue;">info</span>
                           <div class="select-dropdown"></div>
                        </div>
                     </div>

                      <div class="input-group">
                        <div class="rs-select2 js-select-simple select--no-search">
                           <select name="augVal" onchange="displayOptions('checkbox-test', this)" required>
                              <option value="">Data Augmentation</option>
                              <option>Yes</option>
                              <option>No</option>
                           </select>
                           <span class="material-symbols-outlined" data-toggle="tooltip" data-placement="top" title="Data Augmentation" style="cursor:pointer;color:blue;">info</span>
                           <div class="select-dropdown"></div>
                        </div>
                     </div>
                     <div class="checkbox-test">
                        <div class="form-check">
                           <input  class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                         </div>
                           <div class="row">

                              <div class="col-4"><label for="Rotate">Rotate</label></div>
                              <div class="col-1"><input type="checkbox"  id="Rotate" name="augment" value="Rotate" style="vertical-align: bottom;" onchange=field("Rotate","rVal")></div>
                              <div><input class="form-control" type="number" placeholder="angle of rotation"  name="rVal" id="rVal" style="display: none;" required></div>

                           </div>
                           <div class="row">

                              <div class="col-4"><label for="Zoom">Zoom</label></div>
                              <div class="col-1"><input type="checkbox"  id="Zoom" name="augment" value="Zoom" style="vertical-align: bottom;" onchange=field("Zoom","zVal")></div>
                              <div><input class="form-control" type="number" placeholder="Zoom level %"   name="zVal" id="zVal" style="display: none;"></div>
                              <!-- prob have above have 100 put in -->
                           </div>
                           <div class="row">

                              <div class="col-4"><label for="VFlip">verticalflip</label></div>
                              <div class="col-1"><input type="checkbox" id="VFlip" name="augment" value="VFlip" style="vertical-align: bottom;"></div>
                           </div>
                           <div class="row">

                              <div class="col-4"><label for="HFlip">horizontalflip</label></div>
                              <div class="col-1"><input type="checkbox" id="HFlip" name="augment" value="HFlip" style="vertical-align: bottom;"></div>
                           </div>
                           <div class="row">

                              <div class="col-4"><label for="Shear">Shear</label></div>
                              <div class="col-1"><input type="checkbox" id="shear" name="augment" value="shear"></div>
                           </div>



                     </div>

                     <div class="input-group">
                        <div><input class="form-control" type="number" placeholder="Epochs"  name="epochVal" required></div>
                        <span class="material-symbols-outlined" data-toggle="tooltip" data-placement="top" title="Epochs" style="cursor:pointer;color:blue;margin: auto;">info</span>
                     </div>
                     <div class="input-group">
                        <div class="rs-select2 js-select-simple select--no-search">
                           <select name="optimizerVal" required>
                              <option value="">Optimizer</option>
                              <option value="Adam">Adam</option>
                              <option value="RMSProp">RMSProp</option>
                              <option value="SGD">SGD</option>
                               <option value="MB-SGD">MB-SGD</option>
                               <option value="ADA">ADA grad</option>
                               <option value="ADA delta">ADA delta</option>
                               <option value="NGA">NGA</option>
                           </select>
                           <span class="material-symbols-outlined" data-toggle="tooltip" data-placement="top" title="Optimizer" style="cursor:pointer;color:blue;">info</span>
                           <div class="select-dropdown"></div>
                        </div>
                     </div>
                     <div class="input-group">
                        <div class="rs-select2 js-select-simple select--no-search">
                           <select name="lossVal" required>
                              <option value="">Loss</option>
                              <option>BCE loss</option>
                              <option>CCE loss</option>
                               <option>hinge loss</option>
                               <option>MSLE loss</option>
                               <option>MAE loss</option>
                               <option>CLD loss</option>
                           </select>
                           <span class="material-symbols-outlined" data-toggle="tooltip" data-placement="top" title="Loss" style="cursor:pointer;color:blue;">info</span>
                           <div class="select-dropdown"></div>

                        </div>
                     </div>
                     <div class="input-group">
                        <div><input class="form-control" type="number" placeholder="Batchsize"  name="batchsizeVal" required></div>
                        <span class="material-symbols-outlined" data-toggle="tooltip" data-placement="top" title="Batch Size" style="cursor:pointer;color:blue;margin:auto">info</span>
                     </div>
                     <div class="input-group">
                        <div><input class="form-control" type="text" placeholder="LearningRate" name="learnrateVal" required></div>
                        <span class="material-symbols-outlined" data-toggle="tooltip" data-placement="top" title="Learning Rate" style="cursor:pointer;color:blue;margin:auto;">info</span>
                     </div>
                     <div class="p-t-10">
                         <a href="{% url 'monitor_training' %}">
                             <button class="button" type="submit" name="train" value="Train" onclick="javascript:window.open('{% url 'monitor'%}');">Train</button></a>
                             <!-- <button onclick="submit(); window.location.href='{% url 'monitor'%}';" name="train" value="Train">Train</button> -->
                           </div>
                </form>
                    <!--<button class="button">Monitor</button>
                       <button class="button" type="submit" name="train" value="Train">Train/Monitor</button>
                </a>-->
                
                   <!-- <p><i>{{ message }}</i></p> -->
               </div>
            </div>
         </div>
      </div>

      <script>
          function displayOptions(className, elementValue){
            document.getElementsByClassName(className)[0].style.display = elementValue.value == "Yes" ? 'block' : 'none';
          };
      </script>
      <!-- Jquery JS-->
      <script type="javascript" href="{% static 'js/jquery.min.js' %}"></script>
      <script type="javascript" href="{% static 'js/celery_progress.js' %}"></script>
      <!-- Vendor JS-->
      <script type="javascript" href="{% static 'js/select2.min_training.js' %}"></script>
      <script type="javascript" href="{% static 'js/moment.min.js' %}"></script>
      <script type="javascript" href="{% static 'js/daterangepicker.js' %}"></script>
      <!--<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script> -->
      <!-- Main JS-->
      <script type="javascript" href="{% static 'js/global.js' %}"></script>
   </body>
   <!-- This templates was made by Colorlib (https://colorlib.com) -->
</html>
<!-- end document-->

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}


{% endblock javascripts %}